.logo-open-close {
    height: 70px;
    background:url(../img/logo_open.png) no-repeat;
    background-position: 20px center;
}

.mini-navbar .logo-open-close {
    background:url(../img/logo_close.png) no-repeat;
    background-position: 20px center;
}

.navbar-static-side {
    background: #1d2438;
}

body.canvas-menu nav.navbar-static-side {
    background: #1d2438;
}

.nav > li.active {
    border-left:none;
    background: none;
}

.tab-menu-selected {
    background-color: #4680ff !important;
}

.nav-second-level li a {
        padding: 8px 15px 8px 10px;
        padding-left:45px;
}

.navbar-default .nav > li > a:hover {
    background-color: #4680ff;
}

nav .nav > li > a {
    color:#FFF;
    font-weight: normal;
}

.fa-ss {
    float:right;
    margin-top:2px;
}

.active > a > .fa.fa-ss:before {
    content: "\f106";
}

.content-tabs {
    border-bottom: #EEE solid 1px;
}

nav.page-tabs {
    height: 46px;
}

.content-tabs {
    height: 46px;
    line-height: 45px;
    background: #FFF;
}

.content-tabs .roll-left {
    border-right:none;
}

.content-tabs .roll-nav {
    color:#333;
    height: 45px;
    line-height: 45px;
}

.content-tabs .roll-nav:hover {
    background: #FFF;
}

.content-tabs .roll-right {
    border-left:none;
}

.page-tabs a {
    border:none;
    background: #FFF;
    margin-right:5px;
    color:#333;
    font-size: 14px;
}

.page-tabs a.active {
    background: #EEE;
    color:#333;
    font-weight: 500;
}

.page-tabs a:hover {
    background: #EEE;
}

.page-tabs a.active:hover {
    background: #EEE;
    color:#333;
}

.page-tabs a.active i:hover {
    background: #EEE;
    color:#333;
}

.page-tabs a i:hover {
    color:#333;
}

.roll-right.J_tabRight {
    right:280px;
    background: #FFF;
}

.roll-right.btn-group.close-tab-action {
    right: 200px;
}

.btn-group.roll-nav.view-tab-action{
    right: 160px;
}

.roll-nav.roll-right.user-tab-action{
    right: 80px;
}

.view-tab-action .J_tabView{
    width: 80px;
}
.close-tab-action button:hover {
    background-color: transparent;
}

.content-tabs .nav-bottom-right {
    width: 200px;
    right:0;
    text-align: left;
    background: #FFF;
}

.content-tabs .nav-bottom-right .dropdown-toggle {
    margin-left:70px;
}

.dropdown-right-style {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
}

.content-tabs .nav-bottom-right button:hover {
    background: #FFF;
}

.text-muted {
    color:#333;
}

.caret {
    margin-top: -1px;
}

#content-main {
    height:calc(100% - 47px);
}

.gray-bg {
    background: #FFF;
}

.wrapper-content {
    padding:0;
}

.ibox-title {
    display: none;
}

.ibox-content {
    border:none;
}

.btn-primary,.btn-info {
    background-color:#4680ff; 
    border-color:#4680ff; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color:#4680ff; 
    border-color:#4680ff; 
}
.btn-primary:active:hover, .btn-info:active:hover{
    background-color:#4680ff; 
    border-color:#4680ff;   
}

.bootstrap-table {
    /* margin-top: 20px; */
}

.bootstrap-table .btn-primary {
    background: #FFF;
    color:#333;
    border-color:#FFF;
}

.bootstrap-table .btn-primary:hover, .bootstrap-table .btn-primary:focus, .bootstrap-table .btn-primary:active {
    background-color:#FFF; 
    border-color:transparent;
    color:#333;
    outline: none;
    box-shadow:none;
}

.bootstrap-table .fixed-table-toolbar .pull-left div>button:first-child {
    background-color:#4680ff; 
    border-color:#4680ff; 
    color:#FFF;
}

.bootstrap-table .fixed-table-toolbar .pull-left div>button:first-child:hover, .bootstrap-table .fixed-table-toolbar .pull-left div>button:first-child:focus, .bootstrap-table .fixed-table-toolbar .pull-left div>button:first-child:active {
    background-color:#4680ff; 
    border-color:#4680ff; 
    color:#FFF;
}
.bootstrap-table .fixed-table-toolbar .pull-left div>button:first-child:active:hover {
    background-color:#4680ff; 
    border-color:#4680ff;   
    color:#FFF;
}

.bootstrap-table::before {
    content:"";
    height: 8px;
    display: block;
    background-color: #f3f3f4;
    /* margin:0 -20px; */
    margin:0;
}

.panel-body .bootstrap-table::before {
    margin:0;
}

.fixed-table-toolbar .pull-right button {
    border:none;
}

.fixed-table-toolbar .pull-right .btn-default:hover, .fixed-table-toolbar .pull-right .btn-default:active:hover {
    background-color:#4680ff; 
    border-color:#4680ff;
    color:#FFF;
}

.fixed-table-toolbar .pull-right .btn-default:active, .fixed-table-toolbar .pull-right .btn-default:focus {
    background-color:#4680ff; 
    border-color:#4680ff;
    color:#FFF;
}

.fixed-table-toolbar .pull-right .open .dropdown-toggle.btn-default {
    background-color:#4680ff; 
    border-color:#4680ff;
    color:#FFF;
}

.fixed-table-toolbar .pull-right>button:after {
    content:"刷新";
    margin-left:5px;
} 

@media (min-width: 768px) {
    .form-horizontal .control-label-sss {
        text-align: left;
        font-size: 14px;
        color:#999;
        text-align: right;
        padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .input-textarea .col-sm-3 { width:12.5%;}
    .input-textarea .col-sm-9 {width:87.5%;}
}


/* .form-control-sss[disabled] {
    background: #FFF;
    border:none;
    padding-left:0;
    color:#333;
    font-size: 16px;
    width:100%;
    margin-top:0;
} */

/* .edit-sss .form-control-sss[disabled] {
    background: #EEE;
    border:1px solid #e5e6e7;
    padding-left:15px;
    color:#999;
    font-size: 14px;
    width:70%;
    margin-top:5px;
} */

@media (min-width: 768px) {
    .edit-sss .head-scu-label  {
        text-align: left;
        font-size: 14px;
        color:#999;
    }
}

.edit-sss .webuploader-pick,.edit-sss .webuploader-pick:hover {
    background: #4680ff;
}



.form-control-sss {
    width:100%;
    margin-top:5px;
}

.input-textarea .form-control-sss {
    width:100%;
}

/* select.form-control-sss[disabled] {
    position: relative;
    left:-5px;
} */


.select-disabled-p {
    position: relative;
    margin:0;
}

.select-disabled-p .select-disabled-block {
    display: none;
    position: absolute;
    top:0;
    right:0;
    background: #FFF;
    width:20px;
    height: 20px;
}

.form-group-sss {
    margin-bottom: 5px;
} 

.input-search-s {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    width: 250px;
}

.inline-search-s {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 15px;
}

select.input-search-s {
    padding:6px 12px 9px;
}

.label-search-s {
    width: 60px;
    font-weight: normal;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
}

.col-sm-2-right {
    text-align: right;
} 

.tabs-container .panel-body {
    border:none;
}

.tabs-container-new .panel-body {
    padding:15px 0;
}

.tabs-container-new .panel-body .col-sm-12 {
    padding-right:0;
    padding-left:0;
}

.tabs-container .nav-tabs > li.active > a {
    border-color: transparent;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    color:#4680ff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    /* border-bottom: 1px solid #e7eaec; */
}

.tabs-container .nav-tabs > li > a:hover {
    color:#4680ff;
}

.tabs-container .nav-tabs > li > a {
    color:#555;
    font-weight: normal;
    border-bottom:none;
}

.tabs-container .nav-tabs > li.active:after {
    content:"";
    display: block;
    width:calc(100% - 45px);
    margin-left:25px;
    height: 4px;
    background-color: #4680ff;
    border-top:none;
}

.layer-no-title .layui-layer-maxmin,.layer-no-title2 .layui-layer-maxmin,.layer-detail .layui-layer-maxmin {
    visibility: hidden;
}
.layer-no-title .layui-layer-title,.layer-no-title2 .layui-layer-title,.layer-detail .layui-layer-title {
    display: none;
}
.layer-no-title .layui-layer-setwin .layui-layer-close1,.layer-no-title2 .layui-layer-setwin .layui-layer-close1,.layer-detail .layui-layer-setwin .layui-layer-close1 {
    width: 25px;
    height: 25px;
    background: url(../img/close1.png) no-repeat 0 0;
}

.layer-detail .layui-layer-setwin {
    top:19px;
}

.layer-no-title .layui-layer-min,.layer-no-title2 .layui-layer-min,.layer-detail .layui-layer-min{
    display: none;
}
.layer-no-title .layui-layer-max,.layer-no-title2 .layui-layer-max,.layer-detail .layui-layer-max{
    display: none;
}

.layer-no-title .layui-layer-content,.layer-no-title2 .layui-layer-content {
    padding-top: 35px;
}

.layer-detail .layui-layer-content {
    padding-top: 5px;
}

.layer-no-title::before,.layer-detail::before {
    content:'';
    display: block;
    width: 100%;
    height: 8px;
    background-color: #f3f3f4;

}

.layer-no-title2::before {
    display: none;
}

.button-ta-r {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.button-ta-r .btn {
    padding:8px 18px;
}
.button-ta-r .btn:first-child {
    margin-right: 10px;
}

.fixed-table-container {
    border:none;
    border-top:#DDD solid 1px;
    border-radius: 0;
}

.fixed-table-container thead th,.fixed-table-container tbody td {
    border-left:none;
}

.fixed-table-container thead th {
    background-color: #f3f3f4;
    color:#666;
}

.row-margin0 {
    margin:0;
}

.xiala-100 {
    display: inline-block;
    /*width: 300px;*/
    margin-right: 20px;
    padding-bottom: 10px;
}

.xiala-100 label{
    font-weight: normal;
    margin-right: 10px;
    font-size: 14px;
}

.xiala-100 .form-control {
    display: inline-block;
    float: none;
    width:auto;
    vertical-align: top;
}

.xiala-100 .input-group-btn {
    display: inline-block;
    width: auto;
}

.xiala-100 .input-group-btn .btn {
    margin-bottom: 0;
}

.loginscreen.middle-box {
    width: 796px;
    max-width: 796px;
    height: 386px;
    padding-top: 0;
}
.login-bg {
    position: relative;
    background-color: #23263a;
}

.login-bg {

    background-image: url(../img/login/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-box {
    position: relative;
    float: right;
    width:380px;
    height: 386px;
    background-color: #fff;
    padding:36px 50px 32px;
    border-radius: 0 5px 5px 0;
}

.slider-box {
    float: left;
    width: 416px;
    height: 386px;
}

.login-box h3 {
    color:#000;
    margin:17px auto 29px;
    font-size: 24px;
}
.remember-pass[type="checkbox"] + label {
    padding:0;
}
.remember-pass[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    vertical-align: .2em;
    width: 16px;
    height: 16px;
    border:#DDD solid 1px;
    margin-right: 10px;
    border-radius: .2em;
    background-color:#FFF;
    text-indent: .15em;
    line-height: 1;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
}
.remember-pass[type="checkbox"] + label > span {
    line-height: 0.9;
    position: relative;
    top:-1px;
}

.remember-pass[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color:#FFF;
}

.remember-pass {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.login-box .form-control {
    padding:9px 12px;
    border: solid 1px #DDD;
    height: 40px;
    color:#666!important;
}
.login-box input[type="text"],.login-box input[type="password"] {
    border-radius: 3px;
}
.login-box .fix-text {
    position: absolute;
    left:0;
    top:0;
    right:0;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #FCCFCB;
    color:#F23E30;
    font-size: 14px;
    border-radius: 0 5px 0 0;
}

.login-box input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.login-box .form-control:focus {
    border-color: #4680ff !important;
}

.login-box-check {
    position: relative;
}

.login-box-check img {
    position: absolute;
    top:1px;
    right:1px;
}

.login-bg .middle-box {
    position: absolute;
    top:50%;
    left:50%;
    /* margin-top: -157px; */
    margin-top: -198px;
    margin-left: -398px;
}

.head-logo {
    position: relative;
    width: 100%;
	height: 80px;
	background-color: rgba(39, 40, 50, 0.2);
}
.head-logo-img {
    position: absolute;
    left:20%;
    top:0;
    width: 144px;
    height: 40px;
    padding:20px 0;
}

@media (max-width:1500px){
   .head-logo-img {
       left:12%;
   } 
}

.tac-sss {
    text-align: center;
}

.no-before .bootstrap-table::before {
    display: none;
}

.no-before .bootstrap-table {
    margin-top: 0;
}

.collapse-span-s {
    margin-right: 20px;
} 

.choose-company {
    padding: 0 20px 5px 25px;
}

.choose-company button {
    background: none;
    border:none;
    font-size: 16px;
    color:#FFF;
    padding:0;
    outline: none;
    width: 100%;
    text-align: left;
}

.choose-company-icon {
    position: absolute;
    top:2px;
    right:-3px;
    width: 16px;
    height: 16px;
    background: url(../img/choose-company-icon.png) no-repeat 0 0;
}

.choose-company .dropdown-menu {
    width: 175px;
    top:110%;
    border-radius: 5px;
    background-color:#f5f5f5;
}

.choose-company .dropdown-menu > li > a {
    color:#333;
    font-size: 14px;
    margin:4px 0;
}

.choose-company .dropdown-menu > li > a:hover {
    background-color:#e7e9ed;
}

.open-close-bar-sss {
    position: absolute; right:10px; bottom:10px;
    width: 16px;
    height: 16px;
    background: url(../img/menu-close.png) no-repeat 0 0;
}

.mini-navbar .open-close-bar-sss {
    background: url(../img/menu-open.png) no-repeat 0 0;
}

.sys-name-ss {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.mini-navbar .sys-name-ss {
    display: none;
}

.mini-navbar .choose-company-icon {
    top:-10px;
    right:10px;
}

.inline-search-s button.btn {
    margin-bottom: 0;
}
.inline-search-s .button-sss {
    display: inline-block;
    left:-3px;
    top:-2px;
}

.add-XD85-FD .form-control {
    display: inline-block;
    width:calc(100% - 145px);
}

.add-XD85-FD .input-group-btn {
    display: inline-block;
    width:auto;
    vertical-align: top;
}

.btn-dsf1 {
    margin-right: 5px;
    
}

table.table-dfg-asdas{border:solid #e5e6e7; border-width:1px 0px 0px 1px;}
.table-dfg-asdas td,.table-dfg-asdas th{border:solid #e5e6e7; border-width:0px 1px 1px 0px; padding:5px 10px;}
.table-dfg-asdas td button.btn { margin-bottom: 0; background: #FFF; border:solid #e5e6e7 1px;}
.table-dfg-asdas .td-c { text-align: center;}

.inline-search-s .chosen-container-single .chosen-single,.porject-sss-898 .chosen-container-single .chosen-single{
    background: #FFF;
    box-shadow: none;
    border: 1px solid #e5e6e7;
    border-radius: 0;
    line-height: 32px;
}
.inline-search-s .chosen-container,.porject-sss-898 .chosen-container {
    top:-2px;
}

.select-disabled-p .chosen-container-single .chosen-single {
    background: #FFF;
    box-shadow: none;
    border: 1px solid #e5e6e7;
    border-radius: 0;
    line-height: 32px;
    
}


.select-disabled-p .chosen-container {
    top:-2px;
    width:100%!important;
}

.remark1 .form-group-sss {
    margin:0;
} 


.OLKD-open.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #FFF;
    border-color: #FFF;
    color: #333;
}

.OLKD-open .btn-primary:hover, .OLKD-open .btn-primary:focus, .OLKD-open .btn-primary:active, .OLKD-open .btn-primary.active, .OLKD-open .dropdown-toggle.btn-primary {
    background-color: #FFF;
    border-color: #FFF;
    color: #333; 
}

.form-horizontal .form-group-sss.has-feedback .form-control-feedback {
    top:5px;
}

#container-5zxcADS .panel {
    height: 100%;
    margin-bottom: 0;
}

#container-5zxcADS .bootstrap-table::before {
    margin:0;
}

#container-5zxcADS .label-search-s {
    text-align: left;
}

.container-fluid-sss {
    background: #f3f3f4;
    padding:20px;
}

.bdwhite {
    background-color: #fff;
}
.padding0 {
    padding:0;
}
.clear-float:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}

.box-s {
    padding:20px 15px;
} 

.container-fluid-sss .p-title {
    font-size: 14px;
    color:#333;
    font-weight: 700;
    margin-bottom: 15px;
}

.container-fluid-sss .pt1 {
    font-size: 14px;
    color:#333;
    margin-bottom: 0;
}

.container-fluid-sss .pt2 {
    font-size: 48px;
    color:#333;
    font-weight: 700;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}
.col-sm-6-left {
    padding: 0;
    margin-bottom: 20px;
}
.col-sm-6-right{
    padding:0;
}

@media (min-width: 768px) {
    .col-sm-6 .brs {
        border-right: #EEE solid 1px;
    }
    .col-sm-6-left {
        padding:0 10px 0 0;
        margin-bottom: 0;
    }
    .col-sm-6-right {
        padding:0 0 0 10px;
    }
}

.top-s2 {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
}

.top-s3 {
    margin-top: 20px;
}

.textarea-sss {
    width: 100%;
    border: 1px solid #e5e6e7;
    margin-top: 5px;
    line-height: 20px;
    padding:5px;
    height: 100px;
}

.ztree-parent .ztree li span.button.center_docu {
    background: none;
}
.ztree-parent .ztree li span.button.bottom_docu {
   background: none; 
}
.ztree-parent .ztree li ul.line {
   background: none; 
}

.ztree-parent .ztree li span.button.ico_open {
    display: none;
}
.ztree-parent .ztree li span.button.ico_close {
    display: none;
}
.ztree-parent .ztree li span.button.ico_docu {
    display: none;
}
.ztree-parent .ztree li span.button.center_close,.ztree-parent .ztree li span.button.bottom_close,.ztree-parent .ztree li span.button.root_close {
    background: url(../img/xl_add.png) no-repeat center center;
}
.ztree-parent .ztree li span.button.center_open,.ztree-parent .ztree li span.button.bottom_open,.ztree-parent .ztree li span.button.root_open {
    background: url(../img/xl_reduce.png) no-repeat center center;
}
.ztree-parent .ztree li {
    line-height: 24px;
    font-size: 14px;
}
.ztree-parent .ztree li a {
    padding: 1px 5px 0 5px;
    margin-left: 5px;
    font-size: 14px;
    height: 24px;
}
.ztree-parent .ztree li a:hover {
    text-decoration: none;
}
.ztree-parent .ztree li a.curSelectedNode {
    background-color: #E7E9ED;
    opacity: 1;
    border:none;
    height: 24px;
}

.box-t-b {
    padding:0;
    background: #f3f3f4;
}
.box-t-b-1 {
    padding-right: 10px;
}
.box-t-b-2 {
    padding:0 10px;
}
.box-t-b-3 {
    padding-left: 10px;
}
.p-title-a {
    color: #4680ff;
    float:right;
    font-size: 12px;
}
.p-title-a:hover {
    color: #4680ff;
    text-decoration: underline;
}
.tabs-container-index .nav-tabs > li {
    margin-right: 15px;
}
.tabs-container-index .nav-tabs > li > a {
    font-size: 12px;
    font-weight: normal;
    color:#333;
    padding:5px 10px;
    border-radius: 16px;
    margin-right: 0;
}
.tabs-container-index .nav-tabs {
    border:none;
}

.tabs-container-index .nav-tabs > li.active > a {
    border:none;
    background-color: #4680ff;
    color:#FFF;
}

.tabs-container-index {
    height: 193px;
}

.tabs-container-index .panel-body {
    padding: 15px 15px 0;
}
.ddd {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.echart-row {
    margin:0 20px;
}
.echart-row::before {
    content:"";
    height: 8px;
    display: block;
    background-color: #f3f3f4;
    margin:0 -20px 20px;
}

.panel-title>a {
    display: inline-block;
    width: 100%;
}

.div-table, .div-table * {margin: 0 auto; padding: 0;font-size: 14px;font-family: Arial, 宋体, Helvetica, sans-serif;}   
.div-table {display: table; width: 80%; border-collapse: collapse;}   
.div-table-tr {display: table-row; height: 32px;}   
.div-table-tr:first-child { background-color: #F3F3F4;}
.div-table-th {display: table-cell;font-weight: bold;height: 100%;border: 1px solid #ddd; border-left:none; border-right:none; line-height: 32px; text-align: center;vertical-align: middle;}   
.div-table-td {display: table-cell; height: 100%;border: 1px solid #ddd; border-left:none; border-right:none; line-height: 32px; text-align: center;vertical-align: middle;}   

.layui-layer-reward .layui-layer-content {
    text-align: center;
}
.layui-layer-reward select {
    margin:30px auto 0;
}
.evaluation-sss .glyphicon-minus-sign{
    display: none;
}
.evaluation-sss .star-label {
    margin:0 0 0 6px;
    font-size: 14px;
    color:#999;
}
.evaluation-sss .rating-container {
    display: inline-block;
    vertical-align: middle;
}
.evaluation-sss .rating-container .rating-input {
    visibility: hidden;
}

.evaluation-textarea .col-sm-3{
    width: 98px;
    text-align: left;
    text-indent: 6px;
}
.evaluation-textarea .col-sm-9 {
    width: calc(100% - 100px);
}
.evaluation-table-sss .rating-sm{
    font-size: 18px;
}
.evaluation-table-sss .rating-container .caption {
    margin-top: -2px;
}

.evaluation-table-sss .bootstrap-table::before {
    display: none;
}
.tab-pic-sss img {
    width: 100%;
}

.h-ss-250 {
    height: 250px;
    /* padding-bottom: 30px; */
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .tab-pic-sss .col-sm-3 {
        padding-bottom: 30px;
    }
}

.textarea-sss2 {
    width: calc(100% - 116px);

}

.inline-textarea-sss {
    width: 100%;
}
.inline-textarea-sss .label-search-s {
    vertical-align: top;
    margin-top: 5px;
}

.radio-info2 input[type="radio"] + label::after {
  background-color: #4680ff;
}
.radio-info2 input[type="radio"]:checked + label::before {
  border-color: #4680ff;
}
.radio-info2 input[type="radio"]:checked + label::after {
  background-color: #4680ff;
}

.tree-ssd .glyphicon-stop{
 display: none;
}

.tree-ssd .node-tree>.icon:first-child {
    display: inline-block;
    width: 13px;
}

.tree-ssd .node-selected {
    background-color: #4680ff!important;
}

.tree-ssd-right a.list-group-item.active {
    background-color: #4680ff;
    border-color: #4680ff;
}

.input-search-look input {
    width: calc(100% - 59px);
    display: inline-block;
}
.input-search-look .input-group-btn {
    display: inline-block;
    width: 55px;
    vertical-align: top;
}
.input-search-look .input-group-btn .btn {
    margin-bottom: 0;
}

.wrap-ssd ul {
    padding: 0;
}
.wrap-ssd ul li {
    width:180px;
    height: 140px;
    padding:10px;
    float: left;
    list-style: none;
    display: table-cell;
}

.wrap-ssd ul li img {
    width: 100%;
    vertical-align: middle;
}

.banner-order-ss .control-label-sss{
    width: 60px;
    padding-left: 10px;
    text-align: left;
}
.banner-order-ss .col-sm-9 {
    width: calc(100% - 85px);
    padding:0;
    display: inline-block;
}

.fn-div {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}

.fn-label {
    width: 60px;
    font-weight: normal;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
}

.fn-input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    width: calc(100% - 75px);
    box-sizing: border-box;
    height:34px;
}

select.fn-input {
    padding: 7px 12px;
    -webkit-appearance: none;
}

.fn-div .chosen-container {
    width: calc(100% - 75px)!important;
    box-sizing: border-box;
}

.fn-div .chosen-container-single .chosen-single{
    background: #FFF;
    box-shadow: none;
    border: 1px solid #e5e6e7;
    border-radius: 0;
    line-height: 32px;
}

.fn-div .fn-datepicker .fn-datepicker-input+span {
    display: inline-block;
    width: 4px;
    overflow: hidden;
}

.fn-datepicker {
    display: inline-block;
    width: calc(100% - 75px);
}

.fn-datepicker-input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    padding: 6px 12px;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    font-size: 14px;
    width: calc(50% - 6px);
    box-sizing: border-box;
}

.fn-buttons {
    padding-bottom: 12px;
}

.fn-buttons .col-sm-4 {
    float: right;
    text-align: right;
}

.fn-icon {
    color:#4680ff;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}
.fn-icon i {
    margin:0 10px 0 8px;
}

.fn-need-hide {
    display: none;
}

.fn-condition .fn-up {
    display: none;
}

.fn-buttons .fn-down {
    display: none;
}

.top-s0 {
    margin-bottom: 15px;
}

.project-crumbs {
    color: #333333;
}

.project-switch {
    color: #4680ff;
    margin-left:18px;
    cursor: pointer;
}

.ap-search-s201 {
    position: absolute;
    right:16px;
    top:25px;
    width: 240px;
    padding:10px;
    background-color: #fff;
}

@media (max-width:1220px ) {
    .ap-search-s201 {
        width: 160px;
    }
}

.ap-search-s201 .form-control:focus {
    border-color: #E5E6E7 !important;
}

.ap-search-s201 span {
    display: table-cell;
    cursor: pointer;
}

.ap-search-s201 input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.cooperation-team-row .ap-title {
    display: none;
}

.style-8-9 .chosen-container {
    max-height: 114px;
    overflow: auto;
}