@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>新增班组成员</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            
                            <div class="col-sm-3">
                                <#NameCon id="name" name="姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="idCard" name="证件编号" />
                            </div>
                            <input type="hidden" id="teamCode" value="${teamCode}">
                            <div class="col-sm-3">
                                <#NameCon id="phone" name="联系方式" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="TeamMember.search()"/>
                            </div>
                        </div>
                        <div  id="TeamMasterTableToolbar" role="group">
                            @if(shiro.hasPermission("/teamMaster/add")){
                                <#button name="添加" icon="fa-plus" clickFun="TeamMember.openAddTeamMember()"/>
                            @}
                        </div>
                        <#table id="TeamMemberTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/team/teamMaster/addMember.js"></script>
@}
