@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>合同详情</h5>
            </div>
            <div class="ibox-content">
                <input type="hidden" id="psId" value="${psId}"/>
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div  id="pdfTableToolbar" role="group">
                            <#button name="批量删除" icon="fa-remove" clickFun="pdfMaster.delete()" space="true"/>
                        </div>
                        <#table id="pdfTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/showPdf/show_pdf.js"></script>
@}
