/xywg-admin/target
/xywg-admin/logs
/xywg-core/target
/xywg-generator/target
/xywg-rest/target
/xywg-generator/xywg-generator.iml
xywg-admin/logs/
/xywg-core/xywg-core.iml
/xywg-rest/xywg-rest.iml
/xywg.iml
.idea/*
/logs/
.idea/workspace.xml

/logs
/.idea
/xywg-flow/target
/logs
