@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="设备名称" underline="true" value="${item.name}" disabled="disabled"/>
                    <#input id="sn" name="设备序列号" underline="true" value="${item.sn}" disabled="disabled"/>
                    <#select id="projectCode" name="项目名称" underline="false" disabled="disabled">
                        @for(i in project){
                        @if(i.projectCode==item.projectCode){
                        <option value="${i.projectCode}" selected>${i.projectName}</option>
                        @}else{
                        <option value="${i.projectCode}">${i.projectName}</option>
                        @}
                        @}
                    </#select>
                    <!--<#input id="projectName" name="所属项目" underline="true" value="${projectName}" disabled="disabled"/>-->
                </div>

                <div class="col-sm-6">
                    <#select id="typeId" name="设备类型" underline="true" disabled="disabled">
                        @for(i in typeId){
                        @if(i.num==item.typeId){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select>
                    <#select id="type" name="出入类型" underline="true" disabled="disabled">
                        @for(i in type){
                        @if(i.num==item.type){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select>
                    <#input id="remark" name="备注" underline="true" value="${item.remark}" disabled="disabled"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/device/device/device_info.js"></script>
@}
