@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <input type="hidden" id="projectCode" value="${projectCode}">
            <input type="hidden" id="teamSysNo" value="${teamSysNo}">
            <div class="row">
                <div class="col-sm-10">
                    <div class="inline-search-s">
                        <label class="label-search-s">姓名</label>
                        <input id="workerName" name="姓名" underline="true" maxlength="45" class="input-search-s"/>
                    </div>
                    <div class="inline-search-s">
                        <label class="label-search-s">证件编号</label>
                        <input id="idCardNumber" name="证件编号" underline="true" maxlength="30" class="input-search-s"/>
                    </div>
                </div>
                <div class="col-sm-1">
                    <#button name="查询" icon="fa-search" clickFun="PayRollWorkerList.search()"/>
                </div>
                <div class="col-sm-1">
                    <#button name="确定" icon="fa-plus" clickFun="PayRollWorkerList.confirmPersons()"/>
                </div>
            </div>
            <div  id="settlementWorkerTableToolbar" role="group">
                <div class="inline-search-s">
                    <label class="label-search-s">选中工人</label>
                    <span id="workerNames"></span>
                </div>
            </div>
            <#table id="settlementWorkerTable" />
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/wages/payRollDetail/payRoll_workerList.js"></script>
@}
