@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="subContractorInfoForm">
        
        <table width="100%">
        <tr class="cellBg">
         <td colspan="2">${tb.fileName}</td> 
        </tr>
        <tr>
            <td class="col1" style="width:200px;">提交人：</td>
             <td>${tb.createUser}</td>
        </tr>
        <tr>
            <td>项目地点：</td>
           <td>${tb.projectAddress}</td> 
        </tr>
        <tr>
            <td>项目类型：</td>
            <td>
            	${projectActivityType}
            </td> 
        </tr>
        <tr>
            <td>
                报名截止时间：
            </td>
            <td>
               ${tb.startTime}
            </td>
        </tr>
        <tr>
            <td>
                预计开标时间：
            </td>
            <td>
                ${tb.startTime} 
            </td>
        </tr>
        <tr>
            <td>
                招标内容介绍：
            </td>
            <td>
                    <span>
                         ${tb.projectName} 
                    </span>
            </td>
        </tr>
        <tr>
            <td>
                招标文件简述：
            </td>
            <td>
                    <span>
                              ${tb.tenderResume} 
                    </span>
            </td>
        </tr>
        <tr>
            <td>
                招标文件：
            </td>
            <td>
                <ul class="file">
                    ${fileStr} 
                </ul>
            </td>
        </tr>

    </table>

            <input type="hidden" id="bidId" value="${bidId}">

          
            																													
                   <table width="100%" >
           			 <tr>
               			 <th>名称：</th>
               			 <th>类别：</th>
                		<th>描述：</th>
                		<th>价格：(元)</th>
           			 </tr>
           			 @for(var i = 0; priceTempSize > i; i++){
            		<tr id="tr">
                		<td><input class="form-control" aria-required="true" name='name' disabled='disabled'  type="text" value='${priceTemp[i].name}' /></td>
               			<td><input class="form-control" name='type' disabled='disabled'  type="text" value='${priceTemp[i].type}' /></td>
                		<td><input class="form-control" name='desc' disabled='disabled'	type="text" value='${priceTemp[i].desc}' /></td>
                		@if(priceSize > 0){
                		<td><input class="form-control" aria-required="true" name="price" type="text" value='${prices[i]}'></td>
                		@}else{
                		<td><input class="form-control" aria-required="true" name="price" type="text" value=''></td>
                		@}
            		</tr>
            		@}
     				</table>
          

            <div class="row btn-group-m-t">
                <div class="col-sm-12 tac-sss button-ta-r">
                	@if(!flag){
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SubContractorInfoDlg.addSubmit()"/>
                    @}
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SubContractorInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<link rel="stylesheet" href="${ctxPath}/static/modular/longxin/css/reset.css">
<link rel="stylesheet" href="${ctxPath}/static/modular/longxin/css/wb.css">
<link rel="stylesheet" href="${ctxPath}/static/modular/longxin/css/zb.css">
<script src="${ctxPath}/static/modular/longxin/invite/invite_price_add.js"></script>

@}
