@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>招标邀请</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg" id="container-5zxcADS">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="row" id="searchForm">
                                    <div class="clear-float">
                                        <div class="col-sm-4">
                                            <div class="fn-div">
                                                <label class="fn-label">项目名称</label>
                                                <input type="text" class="fn-input" id="projectName" placeholder="项目名称" />
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="fn-div">
                                                <label class="fn-label">招标信息</label>
                                                <!-- !search-chosen-->
                                                <input type="text" class="fn-input" id="tenderName" placeholder="招标信息" />
                                            </div>
                                        </div>

                                        <div class="col-sm-4 fn-condition">
                                            <#button name="搜索" icon="fa-search" clickFun="SubContractor.search()"/>
                                            <#reset name="重置" icon="fa-mail-forward" formId="searchForm"/>
                                            <span class="fn-icon fn-up">收起<i class="fa fa-angle-up"></i></span>
                                            <span class="fn-icon fn-down">展开<i class="fa fa-angle-down"></i></span>
                                        </div>
 
                                        <div class="fn-buttons clear-float fn-need-hide">
                                            <div class="col-sm-4">

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div  id="SubContractorTableToolbar" role="group">
          
                                    <!--<#button name="新增企业资质" icon="fa-plus" clickFun="SubContractor.openSubContractorCertifications()" space="true"/>-->

                                </div>
                                <#table id="SubContractorTable"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/js/common/searchShowHide.js"></script>
<script src="${ctxPath}/static/js/common/onEnter.js"></script>
<script src="${ctxPath}/static/modular/longxin/invite/invite_tender.js"></script>
<script>
    $('.selectpicker').selectpicker();
    var flowStatus = ${flowStatus};
</script>
@}
