@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目工人管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ProjectWorker.search()"/>
                            </div>
                        </div>
                        <div  id="ProjectWorkerTableToolbar" role="group">
                            @if(shiro.hasPermission("/projectWorker/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ProjectWorker.openAddProjectWorker()"/>
                            @}
                            @if(shiro.hasPermission("/projectWorker/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ProjectWorker.openProjectWorkerDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/projectWorker/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="ProjectWorker.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ProjectWorkerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/projectWorker/projectWorker.js"></script>
@}
