@layout("/common/_container.html"){
<div class="row">
     <div class="col-sm-12">
          <div class="ibox float-e-margins">
               <div class="ibox-title">
                    <h5>代办任务</h5>
               </div>
               <div class="ibox-content">
                    <div class="row row-lg">
                         <div class="col-sm-12">
                              <input type="file" style="display:none" id="excelFile" name="excelFile" class="form-control"
                                     onchange="fileUpload()">
                              <div  id="WorkerMasterTableToolbar" role="group">
                                   <#button name="通过" icon="fa-plus" clickFun="LxOrder.openAddWorkerMaster()"/>

                                   <#button name="驳回" icon="fa-delete" clickFun="LxOrder.bohui()"/>

                                   <#button name="历史" icon="fa-plus" clickFun="LxOrder.history()"/>
                              </div>
                              <#table id="WorkerMasterTable"/>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<script src="${ctxPath}/static/js/common/searchShowHide.js"></script>
<script src="${ctxPath}/static/js/common/onEnter.js"></script>
<script src="${ctxPath}/static/modular/longxin/lxOrder/lxOrder.js"></script>
@}
