<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xywg.admin.modular.bad.dao.WorkerGoodRecordsMapper">

    <!-- 工人奖励查询结果列 -->
    <sql id="Base_Column_List">
        t1.id, t1.id_card_type AS idCardType, t1.id_card_number AS idCardNumber, t1.team_sys_no AS teamSysNo, t1.project_code AS projectCode, t1.organization_code AS organizationCode, t1.good_record_type_code AS goodRecordTypeCode, t1.good_record_level_type AS goodRecordLevelType, left(t1.occurrence_date,10) AS occurrenceDate, t1.details, t1.create_date AS createDate, t1.create_user AS createUser, t1.update_date AS updateDate, t1.update_user AS updateUser, t1.is_del AS isDel,
        t2.worker_name as workerName, t3.project_name as projectName, t3.owner_name as ownerName,
        t5.company_name AS companyName
    </sql>
    
    <sql id="Base_Column_List_tab">
        t1.id, t1.id_card_type AS idCardType, t1.id_card_number AS idCardNumber, t1.team_sys_no AS teamSysNo, t1.project_code AS projectCode, t1.organization_code AS organizationCode, t1.good_record_type_code AS goodRecordTypeCode, t1.good_record_level_type AS goodRecordLevelType, left(t1.occurrence_date,10) AS occurrenceDate, t1.details, t1.create_date AS createDate, t1.create_user AS createUser, t1.update_date AS updateDate, t1.update_user AS updateUser, t1.is_del AS isDel,
        t2.worker_name as workerName, t3.project_name as projectName, t3.owner_name as ownerName
    </sql>
    
    <!-- 班组奖励查询结果列 -->
     <sql id="Else_Column_List">
        t1.id, t1.id_card_type AS idCardType, t1.id_card_number AS idCardNumber, t1.team_sys_no AS teamSysNo, t1.project_code AS projectCode, t1.organization_code AS organizationCode, t1.good_record_type_code AS goodRecordTypeCode, t1.good_record_level_type AS goodRecordLevelType, left(t1.occurrence_date,10) AS occurrenceDate, t1.details, t1.create_date AS createDate, t1.create_user AS createUser, t1.update_date AS updateDate, t1.update_user AS updateUser, t1.is_del AS isDel,
        t2.team_name as teamName, t2.team_leader as teamLeader, t3.project_name as projectName, t3.owner_name as ownerName,
        t5.company_name AS companyName
    </sql>

    <!-- 工人奖励记录列表查询-->
	<select id="selectWorkerGoodRecords" resultType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_worker_master t2 ON t2.id_card_type = t1.id_card_type AND t2.id_card_number = t1.id_card_number AND t2.is_del = 0
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code AND t3.is_del = 0
		LEFT JOIN buss_sub_contractor t5 ON t5.organization_code = t3.contractor_org_code AND t5.is_del = 0
		LEFT JOIN buss_contractor_worker t4 on t4.id_card_type = t1.id_card_type AND t4.id_card_number = t1.id_card_number AND t4.is_del = 0
		LEFT JOIN (SELECT social_credit_number FROM sys_dept WHERE
		social_credit_number IS NOT NULL AND (id = #{map.deptId} OR pids LIKE
		CONCAT('%[', #{map.deptId},']%') )) s ON s.social_credit_number = t3.contractor_org_code
		WHERE t1.is_del = 0 AND t1.type = 1
		AND if(s.social_credit_number is null,EXISTS(select id from buss_project_worker where project_code = t1.project_code and
		id_card_type = t1.id_card_type and id_card_number = t1.id_card_number and organization_code in ( SELECT social_credit_number FROM sys_dept WHERE social_credit_number IS NOT NULL AND ( id = #{map.deptId} OR pids LIKE CONCAT( '%[', #{map.deptId}, ']%' ) ) )
		) ,1=1)
<!--		AND t4.organization_code IN
		<foreach collection="map.depts" item="item" index="index"
			open="(" separator="," close=")">
			#{item}
		</foreach>-->
		<if test="map.projectCodes!=null and map.projectCodes.size()==0 ">
			and 1=2
		</if>
		<if test="map.projectCodes!=null and map.projectCodes.size()>0 ">
			and t1.project_code in
			<foreach collection="map.projectCodes" close=")" open="(" separator="," index="index" item="item">
				#{item}
			</foreach>
		</if>
		<if test="map.workerName != null and map.workerName != ''">
			AND t2.worker_name like CONCAT('%',#{map.workerName},'%')
		</if>
		<if test="map.idCardNumber != null and map.idCardNumber != ''">
			AND t2.id_card_number like CONCAT('%',#{map.idCardNumber},'%')
		</if>
		<if test="map.projectName != null and map.projectName != ''">
			AND t3.project_name like CONCAT('%',#{map.projectName},'%')
		</if>
		<if test="map.goodRecordLevelType != null and map.goodRecordLevelType != '' and map.goodRecordLevelType != 0">
			AND t1.good_record_level_type = #{map.goodRecordLevelType}
		</if>
		 <if test="map.startDate != null and map.startDate != ''">
			AND <![CDATA[t1.occurrence_date >= #{map.startDate}]]>
		</if>
		<if test="map.endDate != null and map.endDate != ''">
			AND <![CDATA[t1.occurrence_date <= #{map.endDate}]]>
		</if>
		GROUP BY t1.id ORDER BY t1.id DESC
	</select>

	<!-- 工人奖励记录列表查询(tab页)  yuanyang -->
	<select id="getListByIdCard" resultType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_worker_master t2 ON t2.id_card_number = t1.id_card_number
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code
		LEFT JOIN buss_sub_contractor t5 ON t5.organization_code = t3.contractor_org_code AND t5.is_del = 0
		WHERE t1.is_del = 0 AND t1.type = 1
		and t1.id_card_number=#{map.idCardNumber}
		and t1.id_card_type=#{map.idCardType}
		ORDER BY t1.id DESC
	</select>


	<!-- 班组奖励记录列表查询 分页 -->
	<select id="selectTeamGoodRecords" resultType="map">
		SELECT
		<include refid="Else_Column_List" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_team_master t2 ON t2.team_sys_no = t1.team_sys_no AND t2.is_del = 0
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code AND t3.is_del = 0
		LEFT JOIN buss_team_master t4 ON t4.team_sys_no = t1.team_sys_no AND t4.is_del = 0
		LEFT JOIN buss_sub_contractor t5 ON t5.organization_code = t3.contractor_org_code AND t5.is_del = 0
		LEFT JOIN (SELECT social_credit_number FROM sys_dept WHERE
		social_credit_number IS NOT NULL AND (id = #{map.deptId} OR pids LIKE
		CONCAT('%[', #{map.deptId},']%') )) s ON s.social_credit_number = t3.contractor_org_code
		WHERE t1.is_del = 0 AND t1.type = 2
		AND if(s.social_credit_number is null,EXISTS(select id from buss_team_master where team_sys_no = t1.team_sys_no and  organization_code in
		( SELECT social_credit_number FROM sys_dept WHERE social_credit_number IS NOT NULL AND ( id = #{map.deptId} OR pids LIKE CONCAT( '%[', #{map.deptId}, ']%' ) ) )) ,1=1)
<!--		AND t4.organization_code IN
		<foreach collection="map.depts" item="item" index="index"
			open="(" separator="," close=")">
			#{item}
		</foreach>-->
		<if test="map.projectCodes!=null and map.projectCodes.size()==0 ">
			and 1=2
		</if>
		<if test="map.projectCodes!=null and map.projectCodes.size()>0 ">
			and t1.project_code in
			<foreach collection="map.projectCodes" close=")" open="(" separator="," index="index" item="item">
				#{item}
			</foreach>
		</if>
		<if test="map.teamName != null and map.teamName != ''">
			AND t2.team_name like CONCAT('%',#{map.teamName},'%')
		</if>
		<if test="map.idCardNumber != null and map.idCardNumber != ''">
			AND t2.id_card_number like CONCAT('%',#{map.idCardNumber},'%')
		</if>
		<if test="map.projectName != null and map.projectName != ''">
			AND t3.project_name like CONCAT('%',#{map.projectName},'%')
		</if>
		<if test="map.goodRecordLevelType != null and map.goodRecordLevelType != '' and map.goodRecordLevelType != 0">
			AND t1.good_record_level_type = #{map.goodRecordLevelType}
		</if>
		<if test="map.startDate != null and map.startDate != ''">
			AND <![CDATA[t1.occurrence_date >= #{map.startDate}]]>
		</if>
		<if test="map.endDate != null and map.endDate != ''">
			AND <![CDATA[t1.occurrence_date <= #{map.endDate}]]>
		</if>
		GROUP BY t1.id ORDER BY t1.id DESC
	</select>
	<!-- 根据id获取工人奖励记录 -->
	<select id="selectWorkerGoodRecordsById" resultType="com.xywg.admin.modular.bad.model.WorkerGoodRecordsVO">
	SELECT
		<include refid="Base_Column_List" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_worker_master t2 ON t2.id_card_type = t1.id_card_type AND t2.id_card_number = t1.id_card_number AND t2.is_del = 0
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code AND t3.is_del = 0
		LEFT JOIN buss_sub_contractor t5 ON t5.organization_code = t3.contractor_org_code AND t5.is_del = 0
		WHERE t1.is_del = 0 AND t1.type = 1
		<if test="id != null and id != ''">
			AND t1.id = #{id}
		</if>
	</select>
    <!-- 根据证件类型和证件号查询奖励信息 yuanyang -->
	<select id="getByIdCard" resultType="com.xywg.admin.modular.bad.model.WorkerGoodRecordsVO">
		SELECT
		<include refid="Base_Column_List_tab" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_worker_master t2 ON t2.id_card_number = t1.id_card_number
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code
		WHERE t1.is_del = 0 AND t1.type = 1
		and t1.id_card_number=#{idCardNumber}
		and t1.id_card_type=#{idCardType}
	</select>
	<!-- 根据id查询班组奖励记录 -->
	<select id="selectTeamGoodRecordsById" resultType="com.xywg.admin.modular.bad.model.WorkerGoodRecordsVO">
	SELECT
		<include refid="Else_Column_List" />
		FROM buss_worker_good_records t1
		LEFT JOIN buss_team_master t2 ON t2.team_sys_no = t1.team_sys_no AND t2.is_del = 0
		LEFT JOIN buss_project_master t3 ON t3.project_code = t1.project_code AND t3.is_del = 0
		LEFT JOIN buss_sub_contractor t5 ON t5.organization_code = t3.contractor_org_code AND t5.is_del = 0
		WHERE t1.is_del = 0 AND t1.type = 2
		<if test="id != null and id != ''">
			AND t1.id = #{id}
		</if>
	</select>
	<!-- 根据id获取班组信息 -->
	<select id="selectTeamInfoById"  resultType="com.xywg.admin.modular.team.model.TeamMasterVO">
	  SELECT 
	  t1.team_name AS teamName, t1.team_sys_no AS teamSysNo, t1.team_name AS teamName, t1.team_leader AS teamLeader, t2.project_code AS projectCode, t2.project_name AS projectName, t2.owner_name AS ownerName,
	  t3.company_name AS companyName , t1.organization_code AS organizationCode
	  FROM buss_team_master t1
	  LEFT JOIN buss_project_master t2 ON t2.project_code = t1.project_code AND t2.is_del = 0
	  LEFT JOIN buss_sub_contractor t3 ON t3.organization_code = t1.organization_code AND t3.is_del = 0
	  WHERE t1.is_del = 0
	  <if test="id != null and id != ''">
			AND t1.id = #{id}
      </if>
	</select>
</mapper>
