<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xywg.admin.modular.longxin.dao.EvaluateMapper">



    <select id="selectEvaluatelist" resultType="com.xywg.admin.modular.longxin.model.LxEvaluate">
        SELECT
        id AS id,
        items AS items,
        type AS type,
        max AS  max,
        create_time AS  createTime
        from lx_evaluate
        where 1=1
        <if test="map.condition != null  and map.condition != '' ">
         AND  items like concat('%',#{map.condition},'%')
        </if>
    </select>

    <select id="selectIdDelete">
        delete  from lx_evaluate where id=#{id}
    </select>
    <select id="selectId" resultType="com.xywg.admin.modular.longxin.model.LxEvaluate">
        select
        id AS id,
        items AS items,
        type AS type,
        max AS  max,
        create_time AS  createTime
         from lx_evaluate where id=#{parseLong}

    </select>
    <select id="selectStar" resultType="java.lang.String">
        select
         grade AS grade
          from lx_evaluate where score=#{score}
    </select>
    <select id="selectItems" resultType="java.lang.Long">
        select count(id) from lx_evaluate where items=#{items}
    </select>
    <select id="selectItemsOutItem" resultType="java.lang.String">
        select items from lx_evaluate where items!=#{items}
    </select>

    <select id="getScoreByCompanyAndProject" resultType="com.xywg.admin.modular.longxin.model.LxEvaluate">
          SELECT
          bpsc.id AS id,
      	bpm.project_name AS projectName,
      	bsc.company_name AS companyName,
      	bpsc.score AS score
      FROM
      buss_project_sub_contractor bpsc

      LEFT JOIN buss_project_master bpm ON bpm.project_code = bpsc.project_code

      LEFT JOIN buss_sub_contractor bsc ON bsc.organization_code=bpsc.organization_code

      where bpsc.is_del=0 AND bpsc.project_code= #{projectCode} AND bpsc.organization_code= #{organizationCode}
    </select>

    <update id="updateScore">

    update buss_project_sub_contractor set score= #{score}
    where is_del = 0 AND project_code = #{projectCode} AND organization_code = #{organizationCode}

    </update>

</mapper>