@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>项目信息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">

                    <div  id="ProjectMasterTableToolbar" role="group">
                      <!--  <#button name="管理招标" icon="fa-plus" clickFun="ProjectMaster.tendering()" space="true"/>-->
                    </div>

                    <#table id="ProjectMasterTable"/>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/js/common/searchShowHide.js"></script>
<script src="${ctxPath}/static/js/common/onEnter.js"></script>
<script src="${ctxPath}/static/modular/longxin/tendering/projectMaster.js"></script>
@}
