@layout("/common/_container.html"){
<div class="row">
     <div class="col-sm-12">
          <div class="ibox float-e-margins">
               <div class="ibox-title">
                    <h5>工人管理</h5>
               </div>
               <div class="ibox-content">
                    <div class="row row-lg">
                         <div class="col-sm-12">
                              <input type="file" style="display:none" id="excelFile" name="excelFile" class="form-control"
                                     onchange="fileUpload()">

                              <input hidden type="text" id="id" value=${id}>
                              <div  id="WorkerMasterTableToolbar" role="group" >
                                   <#button name="新增" icon="fa-plus" clickFun="Tendering.addzbxx()"/>

                                   @if(shiro.hasPermission("/lx/tendering/invite")){
                                   <#button name="邀标" icon="fa-plus" clickFun="Tendering.openAddWorkerMaster()"/>
                                   @}
                                   <#button name="公开招标"  icon="fa-plus" clickFun="Tendering.gongkaizhaobiao()"/>

                                   <#button name="删除" icon="fa-delete" clickFun="Tendering.delete()"/>
                              </div>
                              <#table id="WorkerMasterTable"/>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<script src="${ctxPath}/static/js/common/searchShowHide.js"></script>
<script src="${ctxPath}/static/js/common/onEnter.js"></script>
<script src="${ctxPath}/static/modular/longxin/tendering/tendering.js"></script>
@}
