@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content" style="padding-top:40px;">
        <div class="form-horizontal" id="" novalidate="novalidate">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-6">
                    <#input_sjf    id="trainingName"  name="培训名称" value="${item.trainingName}" disabled="disabled" width="200px"/>
                    <#input_sjf  id="trainingTime" name="培训时间" underline="false"  value="${item.trainingTime}" disabled="disabled" width="200px"/>
                    <#input_sjf   id="trainer"  name="培训人"  value="${item.trainer}" disabled="disabled" width="200px"/>
                </div>
                <div class="col-sm-6">
                    <#select_sjf class="input-search-s search-chosen" id="trainingTypeCode" name="培训类型" value="${item.trainingTypeCode}" disabled="disabled" width="200px">
                        @for(i in trainingTypeCode){
                        @if(i.num==item.trainingTypeCode){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <#input_sjf  id="trainingDuration" name="培训时长(H)"   underline="true" value="${item.trainingDuration/60}" disabled="disabled" width="200px"/>
                </div>
            </div>
            <div class="row input-textarea remark1">
                <#textarea_sjf id="description" name="培训简述" underline="false" value="${item.description}" disabled="disabled"/>
            </div>
            <#table id="workerListTable"/>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/projectTraining/projectTrainingTrain.js"></script>
@}

