@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content" style="padding-top:40px;">
        <div class="form-horizontal" id="injuryForm" novalidate="novalidate">
            <input type="hidden" id="id" value="${item.id}">
            <div class="row">

                <div class="col-sm-6">
                   
                     <#input_sjf id="projectName" name="项目" value="${item.projectName}" underline="false" disabled="disabled"/>
                    <#input_sjf id="teamName" name="班组" value="${item.teamName}" underline="false" disabled="disabled"/>
                    <#input_sjf id="workerName" name="名称" value="${item.workerName}" underline="false" disabled="disabled"/>
                </div>
                <div class="col-sm-6">
                    <#input_sjf id="idCardNumber" name="证件号" value="${item.idCardNumber}" underline="false" disabled="disabled"/>
                    <#input_sjf id="occureTime" name="发生时间" value="${item.occureTime}" underline="false" disabled="disabled"/>
                    <#input_sjf id="type" name="类型" value="${item.type}" underline="false" disabled="disabled"/>
                    <input id="occureTimeHidden"  hidden value="${item.occureTime}" />
                </div>
            </div>

            <div class="input-textarea">
                 <#textarea_sjf id="remark" value="${item.remark}" name="备注" underline="false" disabled="disabled"/>
            </div>

        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/injury/injury_detail.js"></script>
@}
