@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="subContractorInfoForm" novalidate="novalidate">
            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="areaId" value="${item.areaCode}">
            <div class="row">
                <div class="col-sm-6">
                    <#input_sjf id="companyName" name="企业名称" value="${item.companyName}" underline="false" requiredFlag="true" disabled="disabled"/>
                    <#select_sjf id="organizationType" name="单位性质" underline="false" >
                        @if(isEmpty(item.organizationType)){
                        <option value="" selected></option>
                        @}
                        @for(i in organizationType){
                        @if(""+i.num==item.organizationType){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <!-- <div class="form-group form-group-sss" style="padding:6px 0;">
                        <label class="col-sm-3 control-label control-label-sss" style="padding-top:5px;">
                            <text style="color: red">*</text>
                            是否三证合一:
                        </label>
                        <div class="col-sm-9" id="cRadio">
                            <div class="radio radio-info2 radio-inline">
                                <input type="radio" id="inlineRadioEdit1" value="1" name="radioEdit">
                                <label for="inlineRadioEdit1"> 是</label>
                            </div>

                            <div class="radio radio-info2 radio-inline">
                                <input type="radio" id="inlineRadioEdit2" value="2" name="radioEdit">
                                <label for="inlineRadioEdit2"> 否</label>
                            </div>
                        </div>
                    </div> -->
                    <!-- <#input_sjf id="organizationCode" parentId="organizationCodeParentId"  name="组织机构编号" value="${item.organizationCode}" underline="false" disabled="disabled"/> -->
                    <!-- <#input_sjf id="bizRegisterCode"  parentId="bizRegisterCodeParentId" name="工商营业执照号" value="${item.bizRegisterCode}" underline="false" requiredFlag="true" disabled="disabled"/> -->
                    <#input_sjf id="socialCreditNumber" parentId="socialCreditNumberParentId" name="社会统一信用代码" value="${item.socialCreditNumber}" underline="false" disabled="disabled"/>
                    <div class="form-group form-group-sss">
                        <label class="col-sm-3 control-label control-label-sss"><span
                                style="color: red">*</span>注册地区:</label>
                        <div class="col-sm-9">
                            <div id="distpicker" name="areaCode">
                                <select class="form-control form-control-sss" id="provinceCode"
                                        style="width:32.7%; padding-right:5px; display: inline-block;"></select>
                                <select class="form-control form-control-sss" id="cityCode"
                                        style="width:32.7%; padding-right:5px; display: inline-block;"></select>
                                <select class="form-control form-control-sss" id="areaCodes"
                                        style="width:33%; padding-right:5px; display: inline-block;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <#input_sjf id="address" name="企业营业地址" value="${item.address}" underline="false" />
                    <#select_sjf id="economicNature" name="企业经济性质" underline="false" >
                    	<option value="">请选择</option>
                        @for(i in economicNature){
                        @if(i.num==item.economicNature){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <!-- <#input_sjf id="zipCode" name="邮政编码" value="${item.zipCode}" underline="false"/> -->
                    <#input_sjf id="contactPeopleName" name="联系人姓名" value="${item.contactPeopleName}" underline="false" />
                    <#input_sjf id="contactPeopleCellPhone" name="联系人手机号码" value="${item.contactPeopleCellPhone}" underline="false" />
                    <#input_sjf id="contactPeoplePhone" name="联系人办公电话" value="${item.contactPeoplePhone}" underline="false"/>
                    
                    <#input_sjf id="qualifyLevel" name="资质等级" value="${item.qualifyLevel}" underline="true" />
                    <#input_sjf id="businessType" name="业务类型" value="${item.businessType}" underline="true" />
                    <#textarea_sjf id="businessScope" name="业务范围" value="${item.businessScope}" underline="true" />
                    
                    <!-- <div class="form-group form-group-sss" style="padding:6px 0;">
                        <label class="col-sm-3 control-label control-label-sss" style="padding-top:5px;">
                            	实名制同步
                        </label>
                        <div class="col-sm-9">
                            <div class="radio radio-info2 radio-inline">
                                <input type="radio" id="inlineRadio4" value="1" name="isSynchro"
                                       @if(item.isSynchro==1){
                                       checked 
                                       @}else{
                                       disabled
                                       @}
                                >
                                <label for="inlineRadio4"> 是</label>
                            </div>

                            <div class="radio radio-info2 radio-inline">
                                <input type="radio" id="inlineRadio3" value="0" name="isSynchro"
                                       @if(item.isSynchro==0){
                                       checked
                                       @}else{
                                       disabled
                                       @}
                                >
                                <label for="inlineRadio3"> 否</label>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="col-sm-6">
                    <#input_sjf id="representativeName" name="法人姓名" value="${item.representativeName}" underline="false" />
                    <#select_sjf id="representativeIdcardType" name="法人证件类型" underline="false" >
                    	<option value="">请选择</option>
                        @for(i in representativeIdcardType){
                        @if(i.num==item.representativeIdcardType){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <#input_sjf id="representativeIdcardNumber" name="法人证件号码" value="${item.representativeIdcardNumber}" underline="false" />
                    <#input_sjf id="representativePhone" name="法人联系电话" value="${item.representativePhone}" underline="false" />
                    <!-- <#input_sjf id="faxNumber" name="传真号码" value="${item.faxNumber}" underline="false"/> -->
                    <!-- <#input_sjf id="email" name="企业联系邮箱" value="${item.email}" underline="false"/> -->
                    <!-- <#input_sjf id="homeWebsiteUrl" name="企业网址" value="${item.homeWebsiteUrl}" underline="false"/> -->
                    <#select_sjf id="enterpriseMarketType" name="企业市域类别" underline="false" >
                    <option value="">请选择</option>
                        @for(i in enterpriseMarketType){
                        @if(i.num==item.enterpriseMarketType){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <#input_sjf id="registrationCapital" name="注册资本(万元)" value="${item.registrationCapital}" underline="false" />
                    <#select_sjf id="capitalCurrency" name="币种"  underline="false" >
                    <option value="">请选择</option>
                        @for(i in capitalCurrency){
                        @if(""+i.num==item.capitalCurrency){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <#input_sjf id="establishDate" name="成立日期" value="${item.establishDate}" underline="false" />
                    <#input_sjf id="phoneNumber" name="办公电话" value="${item.phoneNumber}" />
                    <#select_sjf id="businessStatus" name="经营状态" underline="false" >
                    <option value="">请选择</option>
                        @for(i in businessStatus){
                        @if(""+i.num==item.businessStatus){
                        <option value="${i.num}" selected>${i.name}</option>
                        @}else{
                        <option value="${i.num}">${i.name}</option>
                        @}
                        @}
                    </#select_sjf>
                    <!-- <#textarea_sjf id="memo" name="企业备注" value="${item.memo}" underline="false" maxlength="200"/> -->
       
                     
          
                </div>
                <div class="col-sm-6" style="float:right">
                <label class="col-sm-3 control-label control-label-sss" style="padding-top:5px;">
                	企业材料：
                </label>
                <div class="col-sm-9">
			<div id="showimg">
				<ul id="showui">
				</ul>

				<div id="showinput">

				</div>
			</div>
			<div class="upimg">
				<input type="file" id="upgteimg" value="" multiple />
			</div>

			<button class="btn" id="submit">开始上传</button>
			
			<input type="hidden" id="businessMaterial" value="${item.businessMaterial}" />
		</div>
		</div>
		
		<div class="col-sm-6" style="float:right">
                <label class="col-sm-3 control-label control-label-sss" style="padding-top:5px;">
                	企业评分：
                </label>
<div class="col-sm-9" id="star" data-num="${item.star}"></div>
</div>
                
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-12 button-ta-r">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SubContractorInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SubContractorInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="../../static/js/updateimg.js" ></script>
<script src="${ctxPath}/static/modular/longxin/lxSubContractor/lxSubContractor_info.js"></script>
<script type="text/javascript" src="../../static/js/jquery.raty.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.raty.js"></script>
<head>
		<meta charset="UTF-8">
		<title>多张图片上传</title>
		<style>
			.main {
				width: 80%;
				margin: auto;
			}
			
			* {
				padding: 0;
				margin: 0;
			}
			
			.btn {
				padding: 9px 18px;
				background: #40AFFE;
				color: #FFFFFF;
				border-radius: 5px;
			}
			
			.upimg {
				position: relative;
				width: 100px;
				height: 100px;
				border-radius: 5px;
				border: dashed #999999;
				background: url(../../static/img/addimg.svg) no-repeat;
				background-position: 33px;
			}
			
			.upimg input {
				position: absolute;
				width: 100px;
				height: 100px;
				opacity: 0;
			}
			
			#showui {
				display: flex;
				justify-content: flex-start;
			}
			
			#showui li {
				width: 150px;
				height: 150px;
				position: relative;
				overflow: hidden;
				display: inline-block;
				margin-right: 5px;
			}
			
			#showui li img.showimg {
				position: absolute;
				text-align: center;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 6;
			}
			
			.showdiv {
				position: absolute;
				z-index: 9;
				bottom: 0;
				width: calc(100% - 20px);
				padding: 10px;
				display: flex;
				justify-content: space-around;
				background: rgba(0, 0, 0, .6);
			}
			
			.showdiv img {
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			
			#showui li:first-child img.left {
				opacity: .6;
				cursor: no-drop;
			}
			
			#showui li:last-child img.right {
				opacity: .6;
				cursor: no-drop;
			}
			
			.oneright {
				opacity: .6;
				cursor: no-drop !important;
			}
		</style>
	</head>
@}
