@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="SafetyHelmetInfoForm">
            <input type="hidden" id="id" value="">
            <!--<#input id="projectCode" name="项目编号" underline="true" value="${projectCode}" visible="false"/>-->
            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="设备名称" underline="true" requiredFlag="true"/>
                    <#input id="imei" name="安全帽唯一识别码" underline="true" requiredFlag="true"/>
                </div>

                <div class="col-sm-6">
                    <#select id="projectCode" name="项目名称" underline="true">
                        <option value="">请选择</option>
                        @for(item in project){
                        <option value="${item.projectCode}">${item.projectName}</option>
                        @}
                    </#select>
                    <!--<#input id="projectName" name="项目名称" value="${projectName}" underline="true" requiredFlag="true" disabled="disabled"/>-->
                    <#input id="remark" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SafetyHelmetInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SafetyHelmetInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/device/safetyHelmet/safetyHelmet_info.js"></script>
@}
