@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="设备名称" value="${item.name}" underline="true" disabled="disabled"/>
                    <#input id="imei" name="设备序列号" value="${item.imei}" underline="true" disabled="disabled"/>
                </div>

                <div class="col-sm-6">
                    <#select_sjf id="projectCode" name="项目名称" underline="false" disabled="disabled">
                        @for(i in project){
                        @if(i.projectCode==item.projectCode){
                        <option value="${i.projectCode}" selected>${i.projectName}</option>
                        @}else{
                        <option value="${i.projectCode}">${i.projectName}</option>
                        @}
                        @}
                    </#select_sjf>
                    <!--<#input id="projectName" name="项目名称" value="${projectName}" underline="true" requiredFlag="true" disabled="disabled"/>-->
                    <#input id="remark" name="备注" value="${item.remark}" disabled="disabled"/>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/device/safetyHelmet/safetyHelmet_info.js"></script>
@}
