@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>轮播图管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <form class="row" id="searchForm">
                            <div class="clear-float">
                                <div class="col-sm-3">
                                    <div class="fn-div">
                                        <label class="fn-label">查询</label>
                                        <input type="text" class="fn-input" id="key" placeholder="名称/文件路径/备注"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="fn-div">
                                        <label class="fn-label">终端</label>
                                        <select class="fn-input" id="type" name="终端">
                                            <option value="">全部</option>
                                            <option value="1">企业端</option>
                                            <option value="2">工人端</option>
                                            <option value="3">pc端</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="fn-div">
                                        <label class="fn-label">链接</label>
                                        <select class="fn-input" id="link" name="链接">
                                            <option value="">全部</option>
                                            <option value="1">可用</option>
                                            <option value="2">不可用</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <#button name="搜索" icon="fa-search" clickFun="Banner.search()"/>
                                    <#reset name="重置" icon="fa-mail-forward" formId="searchForm"/>
                                </div>
                            </div>
                        </form>
                        <div  id="BannerTableToolbar" role="group">
                            @if(shiro.hasPermission("/banner/add")){
                            <#button name="添加" icon="fa-plus" clickFun="Banner.openAddBanner()"/>
                            @}
                            @if(shiro.hasPermission("/banner/update")){
                            <#button name="修改" icon="fa-edit" clickFun="Banner.openBannerDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/banner/delete")){
                            <#button name="删除" icon="fa-remove" clickFun="Banner.delete()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/banner/order")){
                            <#button name="排序" icon="fa-edit" clickFun="Banner.order()" space="true"/>
                            @}
                        </div>
                        <#table id="BannerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/banner/banner.js"></script>
@}
