@layout("/common/_container.html"){
<div class="container-fluid container-fluid-sss">
    <div class="top-s0">
        <span class="project-crumbs">${breadCrumb}</span>
        <span class="project-switch" id="select-company">切换</span>
    </div>
    <div class="top-s1 clear-float">
        <div class="col-sm-6 col-sm-6-left">
            <div class="box-s left-s bdwhite">
                <p class="p-title">项目统计</p>
                <div class="tac-sss clear-float">
                    <div class="col-sm-6 padding0 brs">
                        <p class="pt1">进场项目数</p>
                        <p class="pt2">${getTotalEntry}</p>
                    </div>
                    <div class="col-sm-6 padding0">
                        <p class="pt1">退场项目数</p>
                        <p class="pt2">${getTotalExit}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-6-right">
            <div class="box-s right-s bdwhite">
                <p class="p-title">人员统计</p>
                <div class="tac-sss clear-float">
                    <div class="col-sm-6 padding0 brs">
                        <p class="pt1">进场工人数</p>
                        <p class="pt2">${getTotalJoin}</p>
                    </div>
                    <div class="col-sm-6 padding0">
                        <p class="pt1">今日考勤人数</p>
                        <p class="pt2">${getTotalDevice}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-s2 clear-float">
        <div id="projectWorker" style="width: 100%;height:400px;"  ></div>
    </div>

    <!--    <div class="top-s3 clear-float">
            <div class="col-sm-6 col-sm-6-left">
                <div class="box-s left-s bdwhite">
                    <div id="workerAge" style="width: 100%;height:400px;"></div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-6-right">
                <div class="box-s right-s bdwhite">
                    <div id="workerNativePlace" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>-->

    <div class="top-s2 clear-float">
        <div id="workerAttendance" style="width: 100%;height:400px;"></div>
    </div>

    <!-- <div class="row">
        <div class="col-sm-6">
            <div id="workerType" style="width: 100%;height:600px;"  ></div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col-sm-12">
            <div id="workerAttendance" style="width: 100%;height:600px;"  ></div>
        </div>

    </div> -->
</div>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts-en.common.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script src="http://gallery.echartsjs.com/dep/echarts/map/js/china.js"></script>
<script src="${ctxPath}/static/modular/blackboard/echarts-projectWorker.js"></script>
<!-- <script src="${ctxPath}/static/modular/blackboard/echarts-workerType.js"></script> -->
<!--<script src="${ctxPath}/static/modular/blackboard/echarts-workerNativePlace.js"></script>
<script src="${ctxPath}/static/modular/blackboard/echarts-workerAge.js"></script>-->
<script src="${ctxPath}/static/modular/blackboard/echarts-workerAttendance.js"></script>
<script>
    $("#select-company").on('click',function(){
        var index = layer.open({
            type: 2,
            title: '项目切换',
            area: ['80%', '50%'], //宽高
            fix: false, //不固定
            maxmin: false,
            content: '/dept/selectCompany'
        });
    });
</script>



@}
