@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="deptInfoForm">

            <input type="hidden" id="id" value="${dept.id}">

            <#input id="simplename" name="部门名称" underline="true" style = "windth:50%;" maxlength="45" value="${dept.simplename}" disabled="true"/>
            <#input id="startTime" name="有效期起" value ="${dept.startTime}" style = "windth:50%;" underline="true"/>
            <#input id="endTime" name="有效期止" value ="${dept.endTime}" style = "windth:50%;" underline="true"/>


            <div class="row btn-group-m-t">
                <div class="col-sm-12 button-ta-r">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DeptInfoDlg.setTime()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DeptInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dept/dept_info.js"></script>
@}
