@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>设置项目经理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <input type="hidden" id="id" value="${id}">
                        <form class="row" id="searchForm">
                            <div class="clear-float">
                                <div class="col-sm-4">
                                    <div class="fn-div">
                                        <label class="fn-label">查询</label>
                                        <input type="text" class="fn-input" id="key" placeholder="姓名/证件号"/>
                                    </div>
                                </div>
                                <div class="col-sm-4 fn-condition">
                                    <#button name="搜索" icon="fa-search" clickFun="ProjectMasterSetPm.search()"/>
                                </div>
                            </div>
                        </form>
                        <div  id="ProjectMasterSetPmTableToolbar" role="group">
                            <#button name="设为项目经理" icon="fa-download" clickFun="ProjectMasterSetPm.setPm()"
                            space="true"/>
                        </div>
                        <#table id="ProjectMasterSetPmTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/projectMaster/projectMaster_setPm.js"></script>
@}
