@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="workerBlackListForm" novalidate="novalidate">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" id="type" value="1">

                    <#select_sjf id="projectCode" name="所属项目" underline="true" requiredFlag="true" onchange="WorkerBlackListInfoDlg.projectChange(this)">
                        <option value=''>请选择</option>
                        @for(item in project){
                        <option value="${item.projectCode}">${item.projectName}</option>
                        @}
                    </#select_sjf>

                    <div class="form-group form-group-sss">
                        <label class="col-sm-3 control-label control-label-sss" style="margin-top:-5px;">
                            班组名称:</label>
                        <div class="col-sm-9">
                            <p class="select-disabled-p">
                                <select class="input-search-s search-chosen" id="teamId" name="班组名称"
                                        onchange="WorkerBlackListInfoDlg.teamChange(this)"
                                        requiredFlag="true">
                                    <option value=''>请选择</option>
                                </select>
                                <span class="select-disabled-block"></span>
                            </p>
                        </div>
                    </div>

                    <#input_sjf id="teamSysNo" name="班组编号" underline="true" disabled="true"/>

                    <div class="form-group form-group-sss">
                        <label class="col-sm-3 control-label control-label-sss" style="margin-top:-5px;">
                            姓名:</label>
                        <div class="col-sm-9">
                            <p class="select-disabled-p">
                                <select class="input-search-s search-chosen" id="workerId" name="姓名"
                                        requiredFlag="true" onchange="WorkerBlackListInfoDlg.workerChange(this)">
                                    <option value=''>请选择</option>
                                </select>
                                <span class="select-disabled-block"></span>
                            </p>
                        </div>
                    </div>

                    <#select_sjf id="idCardType" name="证件类型" underline="true" disabled="true" >
                        <option value=''>请选择</option>
                        @for(item in dictIdCardType){
                        <option value="${item.num}">${item.name}</option>
                        @}
                    </#select_sjf>
                    <#input_sjf id="idCardNumber" name="证件编号" underline="true" disabled="true"/>


                    <#input_sjf id="companyName" name="所属单位" underline="true" disabled="true"/>
                    <input type="hidden" id="organizationCode">

                    <#input_sjf id="occurrenceDate" name="发生时间" underline="true" requiredFlag="true"  />
                    <#select_sjf id="validStatus" name="时间类型" underline="true" requiredFlag="true" >
                        <option value=''>请选择</option>
                        @for(item in dictValidStatus){
                        <option value="${item.num}">${item.name}</option>
                        @}
                    </#select_sjf>
                </div>

                <div class="col-sm-6">
                    <#input_sjf id="startTime" name="有效期起" underline="true" disabled="true" />
                    <#input_sjf id="endTime" name="有效期止" underline="true" disabled="true"/>
                    <#textarea_sjf id="blackReason" name="黑名单原因" requiredFlag="true"/>
                    <#textarea_sjf id="note" name="备注信息" underline="true" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-12 button-ta-r">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WorkerBlackListInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WorkerBlackListInfoDlg.close()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/bad/workerBlackList/workerBlackList_info.js"></script>
@}
